<settings>
    <setting id="episode.view" value="Wide List" />
    <setting id="episode.view.id" value="" />
    <setting id="general.265sort" value="false" />
    <setting id="general.accountNotifications" value="true" />
    <setting id="general.autocache" value="true" />
    <setting id="general.cacheAssistMode" value="0" />
    <setting id="general.cachelocation" value="0" />
    <setting id="general.disable265" value="false" />
    <setting id="general.disable3d" value="true" />
    <setting id="general.displayColor" value="None" />
    <setting id="general.enablesizelimit" value="false" />
    <setting id="general.maxResolution" value="1" />
    <setting id="general.metalocation" value="1" />
    <setting id="general.omniconnect" value="false" />
    <setting id="general.playstyle" value="0" />
    <setting id="general.pmexpirycheck" value="" />
    <setting id="general.rdexpirycheck" value="" />
    <setting id="general.sizelimit" value="10" />
    <setting id="general.sizesort" value="true" />
    <setting id="general.sortsources" value="0" />
    <setting id="general.sourceselect" value="0" />
    <setting id="general.sourceselectlines" value="true" />
    <setting id="general.tempSilent" value="false" />
    <setting id="general.textColorSelect" value="" />
    <setting id="general.timeout" value="60" />
    <setting id="general.torrentCache" value="true" />
    <setting id="general.viewidswitch" value="false" />
    <setting id="item.limit" value="40" />
    <setting id="migration.attempted" value="false" />
    <setting id="movie.view" value="Wide List" />
    <setting id="movie.view.id" value="" />
    <setting id="omni.port" value="8081" />
    <setting id="preem.enabled" value="false" />
    <setting id="preem.limit" value="2" />
    <setting id="preem.movieres" value="1" />
    <setting id="preem.tvres" value="1" />
    <setting id="preem.type" value="0" />
    <setting id="premiumize.autodelete" value="true" />
    <setting id="premiumize.enabled" value="false" />
    <setting id="premiumize.hosters" value="true" />
    <setting id="premiumize.pin" value="" />
    <setting id="premiumize.priority" value="10" />
    <setting id="premiumize.threshold" value="50" />
    <setting id="premiumize.torrents" value="true" />
    <setting id="rd.auth" value="T3EPXTFBLYMRKKQUZKH53RK3GJYDEKOC6LIITDTNS2TB4GVYDKNQ" />
    <setting id="rd.auth_start" value="" />
    <setting id="rd.autodelete" value="true" />
    <setting id="rd.client_id" value="KPKG4Z2GJVQDA" />
    <setting id="rd.expiry" value="1543531829.62" />
    <setting id="rd.hosters" value="true" />
    <setting id="rd.priority" value="10" />
    <setting id="rd.refresh" value="BJVF3YFZLS53EJD2E4VCNWMN7MC4C26OHX7WMYPZNFG3PJYWQGGA" />
    <setting id="rd.secret" value="64b1cea51a57996c31a785911bc71440a1898c9e" />
    <setting id="rd.torrents" value="true" />
    <setting id="rd.username" value="angrybirdsmagic" />
    <setting id="realdebrid.enabled" value="true" />
    <setting id="season.view" value="Wide List" />
    <setting id="season.view.id" value="" />
    <setting id="show.view" value="Wide List" />
    <setting id="show.view.id" value="" />
    <setting id="smartPlay.bookmarkprompt" value="false" />
    <setting id="smartPlay.deckresume" value="true" />
    <setting id="smartPlay.preScrape" value="true" />
    <setting id="smartPlay.traktresume" value="true" />
    <setting id="smartplay.clickresume" value="false" />
    <setting id="smartplay.playlistcreate" value="true" />
    <setting id="smartplay.upnext" value="true" />
    <setting id="smartplay.upnexttime" value="25" />
    <setting id="tmdb.apikey" value="" />
    <setting id="trakt.auth" value="7949305db9a433f97e5dba68503a87848d1c057a80910f002e31297e961b4ed7" />
    <setting id="trakt.clientid" value="" />
    <setting id="trakt.refresh" value="7bf659196a0401ce1dd8cb61f3c081b1cc24bfd161c792821cce757f2412b2c0" />
    <setting id="trakt.scrobbling" value="true" />
    <setting id="trakt.secret" value="" />
    <setting id="trakt.username" value="nathanielvo17" />
    <setting id="tvdb.apikey" value="" />
    <setting id="tvdb.expiry" value="1543603833.88" />
    <setting id="tvdb.jw" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NDM2MDM4MzQsImlkIjoiIiwib3JpZ19pYXQiOjE1NDM1MTc0MzR9.Uv-q_uo5gahTTWH1GNRpiXHJVYsVb_9HveeffQQfunCtR68PEHCJw8712TCZY-2Y-Y6JSmJJsrSE_rEWYyj7AQqBSk9JBRyRAlFYAxRKPcHjk9-GkBilZdNuUwvJH0FbAN6VwYHlF7ndNttXB335hV_u7aox09CtaJByKmA8pAQiyWr0JEZo37gBGszjeiUIhK6PWHTKyBILSRSFdcbTwD1LiaE7qj8bmg6mAl_B9QR3ChEYJkwLQcfeDgXnvoGL3pRIt5aeJsTmEvd49fuVQs-SNODb2pd7jl1BhqFM9woU9y3bGCsYaOsrqL5RsNjqQ21SwROyYD5AwITNeuDbow" />
</settings>
